{% extends 'base.html' %}
{% load static %}

{% block body %}

<h1>loja</h1>

<div style="display: flex;">
    <form method="POST" action="">
        {% csrf_token %}
        <p>Preço</p>
        <input type="number" name="preco_minimo" value={{minimo}}>
        <input type="number" name="preco_maximo" value={{maximo}}>
        <p>Tamanho</p> 
        {% for tamanho in tamanhos %}
            <input type="radio" name="tamanho" value="{{tamanho}}">
            <label for="{{tamanho}}">{{tamanho}}</label>
        {% endfor %}
        <p>Categoria</p>
        {% for categoria in categorias %}
            <input type="radio" name="categoria" value="{{categoria.slug}}">
            <label for="{{categoria.slug}}">{{categoria.nome}}</label>
        {% endfor %}
        <p>Tipo</p>
        {% for tipo in tipos_navegacao %}
            <input type="radio" name="tipo" value="{{tipo.slug}}">
            <label for="{{tipo.slug}}">{{tipo.nome}}</label>
        {% endfor %}

        <button type="submit">Aplicar Filtros</button>
    </form>

    <div>
        <h3> Ordenar por:</h3>
        <ul>
            <li><a href="#" class="item-ordenar" name="menor-preco">Menor Preço</a></li>
            <li><a href="#" class="item-ordenar" name="maior-preco">Maior Preço</a></li>
            <li><a href="#" class="item-ordenar" name="mais-vendidos">Mais Vendidos</a></li>
        </ul>
        {% for produto in Produtos %}

        <h2>Produto</h2>
        <a href="{% url 'ver_produto' produto.id %}">
            <img src="{{ produto.imagem.url }}" width="300" height="400">
        </a>
        <P>Nome: {{produto.nome}}</P>
        <P>Nome: {{produto}}</P>

        {% endfor %}
    </div>
</div>

{% endblock %}