{% extends 'base.html' %}
{% load static %}

{% block body %}

    <main class="principal">
        <section class="conta">
          <div class="conta__container">
            <div class="checkout__titulos">
              <p class="checkout__titulo">Principais indicadores</p>
            </div>
              <div class="conta__item">
                <p>Faturamento: R$ {{faturamento}}</p>
              </div>
              <div class="conta__item">
                <p>Produtos Vendidos: {{qtde_produtos}}</p>
              </div>
              <div class="conta__item">
                <p>Total Pedidos: {{qtde_pedidos}}</p>
              </div>
          </div>
          <div class="conta__container">
            <div class="checkout__titulos">
              <p class="checkout__titulo">Exportar relatório</p>
            </div>
            <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'exportar_relatorio' 'pedido' %}">Exportar Pedidos</a>
            </div>
            <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'exportar_relatorio' 'cliente' %}">Exportar Clientes</a>
            </div>
            <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'exportar_relatorio' 'endereco' %}">Exportar Endereços</a>
            </div>
          </div>
        </section>
      </main>
{% endblock %}